@import "tailwindcss";

@theme {
  /* 1단계 (Day 1-7) */
  --color-s1-bg: #F0C3C4;
  --color-s1-text: #F9F5F3;
  --color-s1-point1: #BB8DB9;
  --color-s1-point2: #A6A18C;

  /* 2단계 (Day 8-14) */
  --color-s2-bg: #C2DEE9;
  --color-s2-text: #2E4C92;
  --color-s2-point1: #E9BF99;
  --color-s2-point2: #93BDE2;

  /* 3단계 (Day 15-21) */
  --color-s3-bg: #b2b636;
  --color-s3-text: #1d1210;
  --color-s3-point1: #474c14;
  --color-s3-point2: #a7b9d0;

  /* 4단계 (Day 22-28) */
  --color-s4-bg: #5B3054;
  --color-s4-text: #F2ECE3;
  --color-s4-point1: #B8503C;
  --color-s4-point2: #D3AB70;

  /* 5단계 (Day 29-35) */
  --color-s5-bg: #132148;
  --color-s5-text: #F7FFFF;
  --color-s5-point1: #A4383E;
  --color-s5-point2: #D19F59;

  /* 공통 */
  --color-charcoal: #2d2d2d;
  --color-cream: #faf8f4;
}
